.border {
    border: 1px solid #f00;
}

/* html {
    background-color: aqua;
} */



/* ---------- header ---------- */
header {
    max-width: 1920px;
    width: 100%;
    min-width: 0;
    min-height: 80px;
    position: sticky;
    top: 0;
    z-index: 50;

    display: flex;
    align-items: center;

    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
}

header .header-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    background: rgba(255,255,255,0.4);

    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 10%, rgba(0,0,0,0) 100%);
}

#home {
    position: relative;
    z-index: 3;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#symbol {
    width: 80px;
    height: 80px;
}

header .inner {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--black);
}

header .inner > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: clamp(1px, 3vw, 40px);
}

.menu-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu-right {
    position: absolute;
    right: 10px;
}

header .inner a {
    transition: all 0.3s;
}

header .inner a,
header .inner p {
    display: flex;
    padding: 6px clamp(1px, 3vw, 30px);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    white-space: nowrap;
}

header .inner a:hover {
    background-color: var(--black);
    color: var(--white);
}



/* ---------- home ---------- */
#home {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 20px;
    z-index: 3;
}

#home svg {
    width: 100%;
    height: 100%;
    transition: all 0.6s ease;
    transform-origin: top left;
    will-change: transform;
}
#home svg path {
    transition: fill 0.6s ease; 
}

/* ---------- search ---------- */
.search {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 110px;

    background: rgba(255, 255, 255, 0.65);
    backdrop-filter: blur(20px);

    display: none;
}

.searchBox {
    display: flex;
    width: 1200px;
    height: 90px;
    padding: 8px 20px;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2.5px solid var(--black);
}
input {
    border: 0px;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    /* color: rgba(0,0,0,0.2);= */
    width: 1000px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0);
}
.search .search-icon svg {
    height: 50px;
}
.searchBox >input::placeholder {
    opacity:0.45;
}


.word-push {
    display: flex;
    width: 1180px;
    justify-content: space-between;
}

.word-group {
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
}
.word-group .word {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.word-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-bottom: 16px;
}  
.word-title .kr, .push .kr {
    font-size: 18px;
    font-weight: 700;
}
.word .en {
    font-size: 18px;
    font-weight: 500;
}

.push {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 460px;
}
.push .kr {
    width: 100%;
    margin-bottom: 12px;
}

.search .card {
    width: 220px;
}
.search .card-img p {
    width: 60px;
    padding: 5px 0px 2px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 600;

    background-color: var(--black);
    color: var(--white);
}

.search .card-img { position: relative; }
.search .card-img img {
    position: relative;
    width: 220px;
    height: 220px;
    object-fit: cover;
    z-index: 1;
}

.search .card-img .heart {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    flex-direction: column;
    z-index: 5;
    mix-blend-mode: difference;
    z-index: 2;
}
.heart svg {
    width: 30px;
    height: 25px;
}

.search .card-brand {
    display: flex;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    margin: 20px 0 10px;
}
.search .card-des {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.search .card-des .card-title {
    width: 120px;
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 400;
}
.search .card-des .card-price {
    color: var(--black);
    font-size: 14px;
    font-weight: 600;
}



/* ---------- event ---------- */
body.scrolled:not(.search-open) #home svg {
  transform: scale(0.5);
  transition: transform 0.6s ease;
}
body.search-open #home svg {
  transform: none;
}

.search .word p:hover {
  color: var(--blue);
  transition: all 0.3s;
}

.search .word a:hover {
    color: var(--blue);
    transition: all 0.3s;
}

body.search-open .search-btn {
  background: var(--white);
  color: var(--black);
}

.word svg { cursor: pointer; transition: all 0.3s; }

.word svg:hover line {
  stroke: var(--blue);
}

#alldelete {
  cursor: pointer;
  transition: all 0.3s;
  opacity: 0.35;
}

#alldelete:hover {
    color: var(--blue);
    opacity: 1;
}

.card-brand:hover,
.card-des:hover * {
    color: var(--blue) !important;
    transition: all 0.3s;
}



/* ---------- Desktop ---------- */
@media (min-width: 1024px) {


}


/* ---------- Tablet ---------- */
@media (min-width: 768px) and (max-width: 1023px) {
            /* ---------- header ---------- */
    header {
        max-width: 1920px;
        min-height: 10vw;
        top: 0;

        /* font-size: 20px; */
        font-size: 18px;
    }

    #symbol {
        width: 80px;
        height: 80px;
    }

    header .inner > div {
        gap: clamp(1px, 3vw, 30px);
    }

    .menu-right {
        right: 10px;
    }

    header .inner a,
    header .inner p {
        padding: 6px clamp(1px, 3vw, 20px);
    }



    /* ---------- home ---------- */
    #home {
        width: 19vw;
        height: 19vw;
        padding: 1.5vw;
    }

}

/* ---------- Mobile ---------- */
@media (max-width: 767px) {
            /* ---------- header ---------- */
    header {
        max-width: 1920px;
        min-height: 10vw;
        top: 0;

        /* font-size: 20px; */
        font-size: 2.5vw;
    }

    #symbol {
        width: 80px;
        height: 80px;
    }

    header .inner > div {
        gap: clamp(1px, 1vw, 10px);
    }

    .menu-right {
        right: 10px;
    }

    header .inner a,
    header .inner p {
        padding: 6px clamp(1px, 2vw, 20px);
    }



    /* ---------- home ---------- */
    #home {
        width: 19vw;
        height: 19vw;
        padding: 1.5vw;
    }

}
